<h1>Editing thedeadline</h1>

<%= render "form", thedeadline: @thedeadline %>

<br>

<div>
  <%= link_to "Show this thedeadline", @thedeadline %> |

</div>
  <%= link_to "Back to thedeadlines", deadlines_path,class: 'btn'%>
<%= render "common/footer" %>
