<table id="<%= dom_id(task) %>" class="task-table">
  <tr>
    <th>Task title:</th>
    <td><%= task.task_title %></td>
  </tr>
  <tr>
    <th>Task description:</th>
    <td><%= task.task_description %></td>
  </tr>
</table>
